/.env.sh
/paper.jar

/.console_history
/banned-ips.json
/banned-players.json
/bukkit.yml
/cache/
/commands.yml
/config/
/eula.txt
/help.yml
/libraries/
/logs/
/ops.json
/permissions.yml
/plugins/
/server.properties
/spigot.yml
/usercache.json
/version_history.json
/versions/
/whitelist.json
/world/
/world_nether/
/world_the_end/
